#carrossel {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  text-align: center;
 ;
}  

.instagram {
  padding: 40px;
  text-align: center;
  margin-top: 60px;
  padding: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.instagram .fab {
  font-size: 30px;
  color: #E4405F;
}

.instagram span {
  display: block;
  margin-top: 5px;
  font-weight: bold;
}

.instagram a {
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.instagram a:hover {
  text-decoration: underline;
  color: #E4405F;
}#carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  margin-top: 20px;
}





.instagram a {
  font-size: 30px;
  text-decoration: none;
  color: #333;
}

.instagram a:hover {
  text-decoration: underline;
  color: #E4405F;
}